/*Global reset and body styles*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: aileron, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}



/*Navigation styles*/



.nav {
    display: flex;
    flex-direction: row;
}


.site-logo {
    font-family: inherit;
    font-size: 32px;
    font-weight: 400;
    padding: 35px 0 0 40px;
    margin-right: auto;
    list-style: none;
    text-decoration: none;
    color: rgb(227, 41, 41);
    z-index: 100;
    position: fixed;
}

.nav-links li a {
    color: #888;
    text-decoration: none;
    font-size: 16px
}



/*Hamburger Menu*/




.hamburger {
    margin-top: 10px;
    margin-left: auto;
    padding: 35px 50px 0 0;
    z-index: 100;
}

.wrapper-menu {
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
}

.wrapper-menu.open {
    transform: rotate(-45deg);
    position: fixed;

}

.line-menu {
    background-color: #999;
    border-radius: 5px;
    width: 100%;
    height: 6px;
}

.line-menu.half {
    width: 50%;
}

.line-menu.start {
    background-color: #888 transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
}

.open .line-menu.start {
    background-color: #888;
    transform: rotate(-90deg) translateX(3px);
}

.line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
}

.open .line-menu.end {
    background-color: #888;
    transform: rotate(-90deg) translateX(-3px);
}



/*Header elements*/




.head-img {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 80px;
}


.head-text {
    font-family: inherit;
    position: absolute;
    color: #fff;
    top: 250px;
    left: 40px;
    line-height: 1.5;
    font-size: 32px;
    animation: fadeIn 1.5s;

}



/*Main body content*/



.grid-content-1 {
    display: grid;
    margin-top: 30px;
    grid-template-columns: auto;
    justify-items: center;
}

.grid-content-2 {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
}



.content-img,
.content-img-2,
.content-text,
.content-text-2 {
    margin: 80px 20px 0 20px;
    width: auto;
    z-index: -1;
}



.content-text-head {
    margin-bottom: 45px;
    margin-top: 5%;
    padding-bottom: 3px;
    text-align: center;
    border-bottom: 2px solid rgb(52, 208, 255);
    padding-bottom: 8px;
}

.content-text,
.content-text-2 {
    line-height: 22px;
}

.photo {
    margin: 2em auto;
    opacity: 0;
    transform: translateY(4em) rotateZ(-3deg);
    transition: transform 4s .25s cubic-bezier(0, 1, .3, 1),
        opacity .3s .25s ease-out;
    max-width: 600px;
    width: 90%;
    will-change: transform, opacity;
}

.photo.is-visible {
    opacity: 1;
    transform: rotateZ(-2deg);
}



/*Choose plan section */




.choose-plan-title {
    text-align: center;
    font-weight: 700;
    margin: 80px 0 0 0;
}

.plan-box {
    width: auto;
    height: 320px;
    background-color: #888;
    border-radius: 10px;
    margin: 100px auto;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);

}

.basic {
    background-color: rgb(52, 208, 255);
    color: #444;
}

.essential {
    color: #444;
    background-color: rgb(182, 182, 182);

}

.premium {
    color: #444;
    background-color: rgb(227, 41, 41);
    ;
}

.plan-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    padding: 30px 30px 55px 30px;

}

.price {
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: -25px;
    margin-bottom: 20px;
}

.dollar:before {
    content: '$';
    font-size: 20px;
}

.plan-benefits {
    width: 80%;
    height: auto;
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0 0 25px;
    padding: 0 0 50px 10px;

}

.plan-benefits li {
    padding-bottom: 10px;
}

.s-btn {
    padding: 25px 40px;
    border-radius: 40px;
    margin: 0 auto;
    margin-top: -20px;
    display: block;
    font-weight: 600;
    font-size: 1rem;
    outline: none;
}

.s-btn:hover {
    color: #000000;
    background-color: #FFFFFF;
}

/*Footer section */



footer {
    position: relative;
    height: 170px;
    bottom: 0;
    width: 100%;
    background-color: #999;
}

.footer-logo {
    font-size: 24px;
    display: flex;
    margin: 50px auto 50px 10px;
    padding: 30px 0 0 5px;
    color: rgb(227, 41, 41);
}

.social {
    display: flex;
    margin-right: auto;
    margin: -30px 10px 0 0;
}

.social-icon {
    height: 30px;
    width: 30px;
    margin: 0 0 0 15px;
}






/*Newletter styles*/



.newsletter {
    margin: 0 auto;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);

    background-color: rgb(211, 211, 211);

}

.newsletter-content {
    padding: 40px 0 10px 30px;
}

.newsletter-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 700;
    margin: 150px auto 50px;
}

input[type=text] {
    padding: 10px;
    border-radius: 10px;
    width: 50%;
    border: none;
    outline: none;
}

input[type=text]:focus {
    font-family: inherit;
    border: 4px solid rgb(52, 208, 255);



}

.fname {
    font-size: 18px;
    margin: 10px 5px 10px;
}

#mail {
    font-size: 18px;
    margin: 10px 5px 10px;
}

.newsletter-btn {
    margin: 10px 0 20px 0;
    padding: 10px 20px;
    border-radius: 30px;
}

.newsletter-disclosure {
    font-size: 12px;
    margin: 0 30px 0 0;
}


/*Navigation Animation*/




.nav-links {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    position: fixed;
    height: 100vh;
    width: 100%;
    clip-path: circle(5px at 90% -10%);
    -webkit-clip-path: circle(5px at 90% -10%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 3;
}

.nav-links.open {
    clip-path: circle(1000px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);
    pointer-events: all;
}

.heading-img {
    flex-direction: column;
}

.nav-links li {
    opacity: 0;
}

.nav-links li a {
    font-size: 30px;
}

.nav-links li:nth-child(1) {
    transition: all .5s ease .2s;
}

.nav-links li:nth-child(2) {
    transition: all .5s ease .4s;
}

.nav-links li:nth-child(3) {
    transition: all .5s ease .6s;
}

li.fade {
    opacity: 1;
}




.nav-links li a {
    color: #888;
    border-bottom: 3px solid #ff8cbc;
    font-size: 1.5em;
    transition: all 0.25s linear;
    position: relative;
}

.nav-links li a:before {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #61a3ff;
    position: absolute;
    left: 0;
    bottom: -3px;
    /* this is to match where the border is */
    transform-origin: left;
    transform: scale(0);
    transition: 0.25s linear;
    /*   will-change: transform; */
}

.nav-links li a:hover:before {
    transform: scale(1);
}




/*Media Queries*/



@media only screen and (min-width: 768px) {

    .site-logo {
        font-size: 32px;
        margin-right: auto;
        height: auto;
    }

    .wrapper-menu.open{
        position: relative;
    }

    .nav-links {
        position: absolute;
        flex-direction: row;
        background-color: rgba(0, 0, 0, 0.10);
        justify-content: flex-end;
        margin: 2em 3em 0 0;
        padding-top: 140px;
        padding-bottom: 130%;
        margin-left: auto;
    }

    .line-menu.start {
        background-color: #fff;
        transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
        transform-origin: right;
    }

    .open .line-menu.start {
        background-color: #fff;
        transform: rotate(-90deg) translateX(3px);
    }

    .open .line-menu.end {
        background-color: #fff;
        transform: rotate(-90deg) translateX(-3px);
    }

    .nav-links.open {
        clip-path: circle(550px at 90% -10%);
        -webkit-clip-path: circle(550px at 90% -10%);
    }

    .nav-links a {
        margin: 1.5em .75em 0 .75em;
        padding: 15px 25px;
    }

    .nav-links li a {
        color: #fff;

    }

    .grid-content-1 {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 150px;
        margin-top: 250px;
    }

    .head-text {
        top: 350px;
    }

    .content-text-head {
        margin-top: 25%;
    }

    .content-text {
        text-align: left;
        grid-column-start: 2;
        margin-bottom: 20%;
    }

    .content-img {
        grid-row-start: 1;
    }

    .grid-content-2 {
        grid-template-columns: 1fr 1fr;
        margin-bottom: 200px;
    }

    .content-text-2 {
        grid-column-start: 1;
    }


    .content-img-2 {
        grid-column-start: 2;
        grid-row-start: 1;
    }


    .grid-plan {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px 30px;
    }


    .plan-box {
        width: 100%;
        height: 500px;
        margin-top: 200px;
    }

    .choose-plan-title {
        grid-column-start: 2;
        grid-row-start: 1;
    }

    .basic {
        grid-row-start: 1;
        grid-column-start: 1;
    }

    .essential {
        grid-row-start: 1;
        grid-column-start: 2;

    }

    .premium {
        grid-row-start: 1;
        grid-column-start: 3;
        align-content: center;
    }

    .newsletter {
        width: 70%;
        margin: 0 auto;
    }


}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }

    100% {
        font-size: 100;
    }
}